@use "../../../../../assets/style/variables.scss" as *;
@use "../../../../../assets/style/mixins/button.mixins.scss" as *;

.group-admin-main-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30rem;
  padding-bottom: 2rem;

  .group-admin-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.04);

    .survey-step {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border: 0.063rem solid $gray-350;
      border-radius: 0.438rem;
      height: 3rem;

      .step-number {
        background-color: $magenta-500;
        border-radius: 0.375rem 0px 0px 0.375rem;
        border-right: none;
        width: 2.625rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .step-content {
        flex: 1;
        margin: 0 1rem;
      }

      .action-button {
        @include button-reset;
        cursor: pointer;
        position: relative;
        margin-right: 0.4rem !important;
        width: 2.375rem;
        height: 2.375rem;
        border-radius: 0.375rem;
        &:hover {
          background-color: $blue-500 !important;
          svg path {
            fill: $white-700;
          }
        }
      }
    }
  }
}

.admin-title {
  padding-left: 3.125rem;
}

.admin-separator {
  border-right: 0.063rem solid;
  height: 0.875rem;
  color: $gray-350;
  margin-right: 0.313rem;
}
